/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: 'gameover';
    src: url('./static/game_over.woff') format('woff');
  }

:root {
    --primary-colour: #434343;
    --secondary-colour: #dddddd;
    --font-colour: ;
    --background-colour: ;
}

/* :root-dark {
    --primary-colour: #E6E6E6;
    --secondary-colour: #CDCDCD;
    --font-colour: white;
    --background-colour: #0B182B;
} */

body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 60px;
    
}

    header p {
        font-family: 'gameover';
        font-size: 150px;
        margin: 0;
        margin-top: 24px;
    }

    header h3 {
        font-size: 16px;
    }

main {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding-bottom: 160px;
}

    #settings {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 180px;
        padding: 24px;    
    }

        #colourHeader {
            font-size: 18px;
            font-weight: bold;
            margin-top: -6px;
        }

        #colourSelector {
            margin-bottom: 30px;
        }

        #btn-grab {
            margin-bottom: 6px;
        }

        #btn-fill {
            margin-bottom: 36px;
        }

        #btn-draw {
            margin-bottom: 6px;
        }

        #btn-shade {
            margin-bottom: 6px;
        }

        #btn-bright {
            margin-bottom: 6px;
        }

        #btn-erase {
            margin-bottom: 36px;
        }

        #sizeHeader {
            font-size: 18px;
            font-weight: bold;
        }

        #sizeSelector {
            margin-bottom: 36px
        }

        #btn-gridlines {
            margin-bottom: 6px;
        }

    #grid {
        display: grid;
        width: 600px;
        height: 600px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
        cursor: crosshair;
    }

footer {
    display: flex;
    justify-content: center;
}

    footer p {
        cursor: default;
        user-select: none;
    }

    footer a {
        padding-top: 12px;
        margin-left: 6px;
        text-decoration: none;
        color: black;
        
    }

    .fa-github {
        color: var(--primary-dark);
        font-size: 24px;
        transition: transform 0.3s ease-in-out;
      }
      
      .fa-github:hover {
        transform: rotate(360deg) scale(1.1);
      }



/* SETTINGS PANEL STYLING */

input, button {
    width: 100%;
    color: inherit;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    outline: none;
    border: none;
}

button {
    background-color: whitesmoke;
    padding: 8px 0;
    border: 1px solid var(--primary-colour);
    border-radius: 6px; 
}

button:hover,
input[type='color']:hover {
  transform: scale(1.02);
}

.active {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

.border-top-left {
    border-top: 1px solid rgb(156, 156, 156);
    border-left: 1px solid rgb(156, 156, 156);
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 15px;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: var(--secondary-colour);
}
  
input[type='range']::-webkit-slider-runnable-track {
    height: 0px;
    border: 1px solid var(--primary-colour);
    border-radius: 25px;
    margin-top: 10px;
    background: var(--secondary-colour);
}
  
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-top: -9px;
    background: var(--primary-colour);
}

