// Hourly carousel

.hourly-carousel {
    width: 100%;
    user-select: none;
    scrollbar-width: none;

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc(100% / var(--carousel-items));
    transform: translateX(calc(var(--carousel-index) * -100%));
    transition: 500ms ease-in-out transform;

    > .hourly-card {
        width: 90%;
        justify-self: center;
    }
}

.hourly-carousel::-webkit-scrollbar {
    display: none; // Hide default scrollbar
}
