// Popular locations scroll content

.popular-locations {
    padding: 0 5%;
    overflow: hidden;
    color: white;
    background-color: #18182c;

    > .location-carousel {
        padding-bottom: 0.5em;
        position: relative;
        display: flex;
        overflow: hidden;
        white-space: nowrap;

        > .inner-carousel {
            display: flex;
            animation: 30s slide infinite linear;

            > * {
                user-select: none;
                cursor: pointer;
                margin: 0 1.5em;
            }
        }
    }
}

.location-carousel:before,
.location-carousel:after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 8%;
    z-index: 2;
    content: '';
}

.location-carousel:before {
    left: -2px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #18182c);
}

.location-carousel:after {
    right: -2px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #18182c);
}
