// Search bar

.search {
    position: relative;
    user-select: none;
    border-radius: 8px;
    background-color: #fff;
    color: #000;

    .search-bar-container {
        padding: 10px 8px 8px 8px; // 10px blanket fix for off-center text

        display: grid;
        grid-template-columns: max-content 1fr max-content;
        gap: 8px;

        .search-bar {
            min-width: 140px;
            background-color: transparent;
        }
        .search-clear {
            display: none;
            cursor: pointer;
        }
    }

    .search-suggestions {
        display: none;
        position: absolute;
        width: 100%;
        border-top: 1px solid #bebebe;
        border-radius: 0 0 8px 8px;
        background-color: #fff;

        .suggestion-item {
            min-height: 42px;

            display: grid;
            grid-template-columns: max-content 1fr;
            align-items: center;
            gap: 8px;

            > * {
                pointer-events: none;
            }
            > :first-child {
                padding-left: 8px;
                color: #bebebe;
            }
            > :last-child {
                padding-right: 8px;
            }
        }
        .suggestion-item:hover {
            background-color: #e6e6e6;
        }
        .suggestion-item:last-child:hover {
            border-radius: 0 0 8px 8px;
        }
    }
}

.search.active {
    border-radius: 8px 8px 0 0;
}

.search-clear.active,
.search-suggestions.active {
    display: block !important;
}
