// Header

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    user-select: none;
    background-color: inherit;

    display: grid;
    grid-template-columns: 1fr max-content max-content;
    grid-template-areas: 'logo search settings';
    align-items: center;
    gap: 2em;

    .logo {
        grid-area: logo;
        cursor: pointer;
    }

    .search {
        grid-area: search;
    }

    .settingsOpen {
        grid-area: settings;
        cursor: pointer;
        font-size: 2em;
        font-weight: 300;
    }
}
