// Forecast

.dashboard.active {
    display: grid !important;
    grid-template-rows: repeat(6, max-content);
    gap: 2em;

    > * {
        padding: 0 2em;
    }

    > *:not(.popular-locations) {
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
    }
}
