// Grid

$grid-header-height: 70px;
$grid-footer-height: 70px;

body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #2b2b2b;
    background-color: #fafafa;
}

#grid-container {
    height: max-content;
    min-height: 100%;
    max-width: 100%;

    > header {
        color: white;
        background-color: #18182c;
    }
    > header,
    footer {
        padding: 0 2em;
    }
}

#grid-container.homepage--active {
    display: grid;
    grid-template-rows: 1fr $grid-footer-height;
    grid-template-areas:
        'content'
        'footer';
}

#grid-container.dashboard--active {
    display: grid;
    grid-template-rows: $grid-header-height 1fr $grid-footer-height;
    grid-template-areas:
        'header'
        'content'
        'footer';
}
