// Grid

$grid-header-height: 70px;
$grid-footer-height: 70px;

body {
    font-size: 16px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

#grid-container {
    height: max-content;
    min-height: 100%;
    width: 100%;
    padding: 0 48px;
    background: linear-gradient(
        to bottom right,
        var(--body-bg-gradient-1) 0%,
        var(--body-bg-gradient-2) 20%,
        var(--body-bg-gradient-3) 60%,
        var(--body-bg-gradient-4) 100%
    );
    // background-color: rgb(24, 24, 44);
}

#grid-container.homepage--active {
    display: grid;
    grid-template-rows: 1fr $grid-footer-height;
    grid-template-areas:
        'content'
        'footer';
}

#grid-container.dashboard--active {
    display: grid;
    grid-template-rows: $grid-header-height 1fr $grid-footer-height;
    grid-template-areas:
        'header'
        'content'
        'footer';
}
