// Header

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    user-select: none;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;

    #settingsOpen {
        cursor: pointer;
        position: absolute;
        font-size: 2em;
        font-weight: 300;
    }

    .logo {
        cursor: pointer;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .search {
        position: absolute;
        right: 32px;
    }
}
