// Header

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
    user-select: none;
    background-color: inherit;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    #searchMenu,
    #settingsMenu {
        font-size: 2em;
        font-weight: 300;
    }
}
