// Media Queries

@media only screen and (max-width: 768px) {
    header {
        .search {
            display: none !important;
        }
        #searchMenu {
            display: block !important;
        }
    }

    .current-weather > .details-container {
        grid-template-columns: repeat(3, 1fr) !important;
    }

    :root {
        --carousel-items: 5;
    }
}

@media only screen and (max-width: 640px) {
    :root {
        --carousel-items: 4;
    }
}
