// Default Variable Classes

.hidden {
    display: none;
}

// Font Sizes
.fs-s {
    font-size: 0.9rem;
}

.fs-m {
    font-size: 1.2rem;
}

.fs-l {
    font-size: 1.4rem;
}

.fs-xl {
    font-size: 2rem;
}

.fs-xxl {
    font-size: 3rem;
}

.fs-xxxl {
    font-size: 6rem;
}

// Font Weights
.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.test {
    color: #969696;
}

// Greys
.grey-300 {
    color: #909090;
}
.grey-400 {
    color: #808080;
}
.grey-500 {
    color: #707070;
}
.grey-600 {
    color: #606060;
}
.gery-700 {
    color: #505050;
}
